In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler

from sklearn.metrics import accuracy_score


from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [2]:
df=pd.read_csv('Data/Company Attrition Data.csv')
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Sales_Occured,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
df.shape

(14999, 10)

In [4]:
df.isna().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Sales_Occured            0
salary                   0
dtype: int64

In [5]:
# no missing values

In [6]:
df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Sales_Occured', 'salary'],
      dtype='object')

In [7]:
# label enconding
lb=LabelEncoder()
for i in ['Sales_Occured', 'salary']:
    df[i]=lb.fit_transform(df[i])

In [8]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Sales_Occured,salary
0,0.38,0.53,2,157,3,0,1,0,7,1
1,0.80,0.86,5,262,6,0,1,0,7,2
2,0.11,0.88,7,272,4,0,1,0,7,2
3,0.72,0.87,5,223,5,0,1,0,7,1
4,0.37,0.52,2,159,3,0,1,0,7,1

In [9]:
X=df.drop('left',axis=1)
y=df.left

In [10]:
#train _test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42,stratify=y)

In [12]:
# choosing maxdepth for RandomForestClassifier
for i in range(1,30):
    rfc=RandomForestClassifier(max_depth=i)
    rfc.fit(X_train,y_train)
    pred = rfc.predict(X_test)
    accuracy_score(y_test, pred)
    print(f'{i}    {accuracy_score(y_test, pred)}')

1    0.7617777777777778
2    0.9093333333333333
3    0.9135555555555556
4    0.9184444444444444
5    0.9766666666666667
6    0.9788888888888889
7    0.9806666666666667
8    0.9817777777777777
9    0.9826666666666667
10    0.9828888888888889
11    0.9844444444444445
12    0.9862222222222222
13    0.9875555555555555
14    0.9882222222222222
15    0.9893333333333333
16    0.9902222222222222
17    0.9902222222222222
18    0.9906666666666667
19    0.9908888888888889
20    0.9908888888888889
21    0.9906666666666667
22    0.9904444444444445
23    0.9906666666666667
24    0.9908888888888889
25    0.9906666666666667
26    0.9904444444444445
27    0.9908888888888889
28    0.9911111111111112
29    0.9908888888888889

In [ ]:
# best value seems to be max_depth  28

In [13]:
# choosing best max depth for DecisionTreeClassifier
for i in range(1,20):
    dtc=DecisionTreeClassifier(max_depth=i)
    dtc.fit(X_train,y_train)
    pred = dtc.predict(X_test)
    print(f'{i}    {accuracy_score(y_test, pred)}')

1    0.8151111111111111
2    0.8466666666666667
3    0.954
4    0.9702222222222222
5    0.9744444444444444
6    0.9762222222222222
7    0.9788888888888889
8    0.9793333333333333
9    0.9795555555555555
10    0.978
11    0.9784444444444444
12    0.978
13    0.9757777777777777
14    0.9746666666666667
15    0.974
16    0.9751111111111112
17    0.9722222222222222
18    0.9746666666666667
19    0.9726666666666667

In [ ]:
# best value seems to be max_depth =9

In [14]:
# RandomForestClassifier
rfc=RandomForestClassifier(max_depth=28)
rfc.fit(X_train,y_train)
pred = rfc.predict(X_test)
accuracy_score(y_test, pred)

0.9911111111111112

In [19]:
# LogisticRegression
lr=LogisticRegression(max_iter=1000)
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
accuracy_score(y_test, pred)

0.7653333333333333

In [16]:
# DecisionTreeClassifier
dtc=DecisionTreeClassifier(max_depth=9)
dtc.fit(X_train,y_train)
pred = dtc.predict(X_test)
accuracy_score(y_test, pred)

0.9788888888888889

In [ ]:
# best results seems to be from RandomForestClassifier methrod with accuracy of 99.1

In [ ]:
# passed the required 85% mark